nav {
  display: flex;
  position: fixed;
  justify-content: space-between;
  width: 100%;
  height: 70px;
  border-bottom: 1px solid #090d1f;
  background-color: #ffffff;
  padding: 6px 70px;
  .head {
    display: flex;
    align-items: center;
    justify-content: center;
    h1 {
      font-weight: 600;
      font-size: 20px;
      line-height: 24px;
      color: #1a1a1a;
      text-align: center;
      margin-right: 36px;
    }

    ul {
      display: flex;
      align-items: center;
      list-style: none;
      gap: 14px;
    }
  }

  a {
    text-decoration: none;
    padding: 8px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #1a1a1a;
    transition: 0.5s;
    &:hover,
    &.active {
      color: #7f56d9;
    }
  }
}

.burger {
  display: none;
  cursor: pointer;
}

button.signin {
  width: 120px;
  height: 38px;
  border: 1px solid #7f56d9;
  border-radius: 8px;
  padding: 12px 20px;
  color: white;
  background-color: #7f56d9;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  cursor: pointer;
  font-weight: 500;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 24px;
}

@media (max-width: 768px) {
  nav {
    padding: 5px 35px;
    position: relative;
    ul {
      flex-direction: column;
      position: absolute;
      width: 100%;
      top: 0px;
      right: 0px;
      border: 1px solid;
      gap: 0px !important;
      z-index: -100;
      background-color: #7f56d94d;
      transition: 0.3s;
    }
    ul.active {
      top: 69px;
      z-index: 10;
    }
    .burger {
      position: absolute;
      display: block;
      border: none;
      font-size: 21px;
      right: 21px;
      top: 24px;
      background-color: white;
    }

    ul.active li {
      padding: 12px;
      text-align: center;
      width: 100%;
    }
    ul.active li:nth-child(2) {
      border-top: 1px solid;
    }

    button.signin {
      width: 100px;
      height: 30px;
      margin: 6px 14px 6px 6px;
    }
  }
}
