.footer {
  height: 70px;
  border-top: 1px solid;
  padding: 23px 75px;
  font-size: 20px;
  color: rgba(26, 26, 26, 1);
}

@media (max-width: 768px) {
  .footer {
    padding: 20px 30px;
    font-size: 14px;
  }
}
