.blog {
  padding: 0 70px 88px;
  h1 {
    margin-bottom: 56px;
    font-weight: 600;
    font-size: 38px;
    color: rgba(26, 26, 26, 1);
  }
  .cotainer {
    display: flex;
    justify-content: center;
    .cards {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
      gap: 32px;
      .card {
        display: flex;
        flex-direction: column;
        gap: 32px;
        img {
          width: 100%;
        }
        .text {
          h5 {
            font-weight: 600;
            font-size: 14px;
            color: rgba(105, 65, 198, 1);
            margin-bottom: 12px;
          }
          .details {
            display: flex;
            align-items: center;
            justify-content: space-between;
            position: relative;
            h3 {
              font-weight: 600;
              font-size: 24px;
              color: rgba(26, 26, 26, 1);
              margin-bottom: 12px;
            }
            i {
              position: absolute;
              top: 7px;
              right: 0;
              cursor: pointer;
            }
          }
          p {
            font-weight: 400;
            font-size: 16px;
            color: rgba(102, 112, 133, 1);
          }
        }
      }
    }
  }
}
